* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
}

h2 {
  font-family: "Boogaloo";
  color: #efd17a;
  -webkit-text-stroke: 1.5px #0e0f11;
  font-weight: 400;
  font-size: 39px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
