* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
}

/* VARIABLER */
$color-anubis-black: #0e0f11;
$color-pharaos-gold: #efd17a;
$color-newspaper-white: #fff;
$color-tactical-blue: #3396e6;

$font-boogaloo: "Boogaloo";
$font-play: "play";

/* MIXINS */
@mixin box-shadow {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-family: $font-boogaloo;
  color: $color-pharaos-gold;
  -webkit-text-stroke: 0.1rem $color-anubis-black;
  font-size: 2.44rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 601px) {
  h2 {
    text-align: left;
    padding-left: 2rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
    text-align: left;
    padding-left: 20rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }
}
