* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
}

/* VARIABLER */
$color-anubis-black: #0E0F11;
$color-pharaos-gold: #efd17a;
$color-newspaper-white: #fff;
$color-tactical-blue: #3396E6;

$font-boogaloo: 'Boogaloo';
$font-play: 'play';
 
/* MIXINS */
@mixin box-shadow {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-family: $font-boogaloo;
  color: $color-pharaos-gold;
  -webkit-text-stroke: 1.5px $color-anubis-black;
  font-weight: 400;
  font-size: 39px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
